<div class="flex flex-wrap mt-12 justify-center">
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/regles-elementaires.png" "Alt" "Règles Elémentaires" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/mensen.png" "Alt" "Mensen" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/neighborhood-feminists.png" "Alt" "Neighborhood Feminists" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/bruzelle.png" "Alt" "Bruzelle" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/periodensystem.png" "Alt" "Perioden system" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/akcja-menstruacja.png" "Alt" "Akjca menstruacja" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/la-vida.png" "Alt" "La vida en rojo" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/tiiiit.png" "Alt" "Tiiiit Inc" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/pe-stop.png" "Alt" "Pe stop" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/iele-sanziene.png" "Alt" "Iele Sanziene" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/dostojna.png" "Alt" "Dôstojná menštruácia" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/iniciativa.png" "Alt" "Iniciatíva za dôstojnú menštruáciu" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/risem.png" "Alt" "Red Internacional de Salud y Educación Menstrual" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/bon-sang.png" "Alt" "Bon Sang" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/grande-collecte.png" "Alt" "La grande collecte" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/rozowa.png" "Alt" "Różowa Skrzyneczka" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/eva-rosso.jpg" "Alt" "Eva in Rosso" "Loading" "eager") }}
    </div>
    <div class="col-6 md:col-2 flex items-center justify-center my-2">
        {{ partial "image" (dict "Src" "/images/logos/sola-pomaha.png" "Alt" "Sola Pomáhá" "Loading" "eager") }}
    </div>
</div>