/* Add your own custom styles here */
@font-face {
  font-family: "Caramel Milk";
  src:
    url("../Caramel Milk.woff2") format("woff2"),
    url("../Caramel Milk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#logo img {
  width: 180px;
  height: 12px;
}

.text-title-size {
  font-size: 1.875rem;
}

#campaign ul, #about ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.number-container:nth-child(odd) div {
  @apply bg-red text-white;

}

.number-container:nth-child(even) div {
  @apply bg-white text-red;
}

@media (width >= 48rem) { 
  #logo img {
    width: 399px;
    height: 27px;
  }

  .p-banner {
    padding: 80px 80px 0 80px;
  }

  .text-title-size {
    font-size: 2.75rem;
  }
}