{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="container">
      <div class="m-4 md:m-0 bg-pink rounded-4xl flex flex-row pt-8 md:pt-20 px-8 md:px-20">
        <div class="w-full md:w-3/4 pb-8 md:pe-32 flex flex-col">
          <h1 class="font-primary font-extrabold mb-4 text-title-size">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8 text-black text-lg">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
            <div class="self-center md:self-auto">
              <a
                class="btn bg-red font-secondary text-white font-normal"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
              </a>
            </div>
            {{ end }}
          {{ end }}
        </div>
        <div class="w-1/4 hidden md:block">
          {{ partial "image" (dict "Src" .image "Alt" "" "Loading" "eager") }}
        </div>
      </div>   
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Study -->
  {{ with .Params.campaign }}
    <section class="container px-8 md: px-4 text-black mt-12">
      <h2 class="text-red text-center font-primary font-extrabold">{{ .title }}</h2>
      <div class="row items-center justify-between mt-8">
        <div class="col-2 hidden md:block">
          {{ partial "image" (dict "Src" "/images/pad.svg" "Alt" "" "Loading" "eager") }}
        </div>
        <div class="col-12 md:col-8">
          <h3 class="font-primary font-extrabold text-3xl">{{ .intro.title }}</h3>
          <p class="text-xl text-grey mt-2 mb-6">{{ .intro.text }}</p>
          <p>{{ .first_part | markdownify }}</p>
        </div>
        <div class="col-2 hidden md:block"></div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block"></div>
        <div class="col-12 md:col-8">
          <p>{{ .second_part | markdownify }}</p>
        </div>
        <div class="col-2 flex justify-end hidden md:block">
          {{ partial "image" (dict "Src" "/images/box.svg" "Alt" "" "Loading" "eager") }}
        </div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block">
          {{ partial "image" (dict "Src" "/images/tampon.svg" "Alt" "" "Loading" "eager") }}
        </div>
        <div class="col-12 md:col-8">
          <p>{{ .third_part | markdownify }}</p>
        </div>
        <div class="col-2 hidden md:block"></div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block"></div>
        <div class="col-12 md:col-8">
          <p>{{ .fourth_part | markdownify }}</p>
        </div>
        <div class="col-2 flex justify-end hidden md:block">
          {{ partial "image" (dict "Src" "/images/reusable_pad.svg" "Alt" "" "Loading" "eager") }}
        </div>
      </div>   
      <div class="row items-center justify-between mt-8">
        <div class="col-8 mx-auto">
          {{ range .goals }}
            <div class="flex">
              {{ partial "image" (dict "Src" "/images/arrow.svg" "Alt" "" "Loading" "eager") }}
              <div class="ml-6 bg-pink rounded-xl py-4 px-8 font-semibold mb-2">
                {{ .content | markdownify }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Study -->

  <!-- About -->
  {{ range $i, $e:= .Params.features }}
    <section id="about" class="container">
      <div class="row items-center justify-between">
        <div
          class="mb:md-0 {{ if not (modBool $i 2) }}
            md:order-2
          {{ end }} md:col-5 mb-6">
          {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
        </div>
        <div
          class="{{ if not (modBool $i 2) }}
            md:order-1
          {{ end }} md:col-7 lg:col-6">
          <h2 class="mb-4">
            {{ .title | markdownify }}
          </h2>
          <p class="mb-8 text-lg">
            {{ .content | markdownify }}
          </p>
          <ul>
            {{ range .bulletpoints }}
              <li class="relative mb-4 pl-6">
                <i class="fa fa-check absolute left-0 top-1.5"></i>
                {{ . | markdownify }}
              </li>
            {{ end }}
          </ul>
          {{ with .button }}
            {{ if .enable }}
              <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /About -->

{{ end }}
