{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="container">
      <div class="m-4 md:m-0 bg-pink rounded-4xl flex flex-row pt-8 md:pt-20 px-8 md:px-20">
        <div class="w-full md:w-3/4 pb-8 md:pe-32 flex flex-col">
          <h1 class="font-primary font-extrabold mb-4 text-title-size">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8 text-black text-lg">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
            <div class="self-center md:self-auto">
              <a
                class="btn bg-red font-secondary text-white font-normal uppercase"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
              </a>
            </div>
            {{ end }}
          {{ end }}
        </div>
        <div class="w-1/4 hidden md:block">
          {{ partial "image" (dict "Src" .image "Alt" "" "Loading" "eager") }}
        </div>
      </div>   
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Campaign -->
  {{ with .Params.campaign }}
    <section id="campaign" class="container px-8 md:px-4 text-black mt-12">
      <h2 class="text-red text-center font-primary font-extrabold">{{ .title }}</h2>
      <div class="row items-center justify-between mt-8">
        <div class="col-2 hidden md:block">
          {{ partial "image" (dict "Src" "/images/pad.svg" "Alt" "" "Loading" "eager") }}
        </div>
        <div class="col-12 md:col-8">
          <h3 class="font-primary font-extrabold text-3xl">{{ .intro.title }}</h3>
          <p class="text-xl text-grey mt-2 mb-6">{{ .intro.text }}</p>
          <p>{{ .first_part | markdownify }}</p>
        </div>
        <div class="col-2 hidden md:block"></div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block"></div>
        <div class="col-12 md:col-8">
          <p>{{ .second_part | markdownify }}</p>
        </div>
        <div class="col-2 flex justify-end hidden md:block">
          {{ partial "image" (dict "Src" "/images/box.svg" "Alt" "" "Loading" "eager") }}
        </div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block">
          {{ partial "image" (dict "Src" "/images/tampon.svg" "Alt" "" "Loading" "eager") }}
        </div>
        <div class="col-12 md:col-8">
          <p>{{ .third_part | markdownify }}</p>
        </div>
        <div class="col-2 hidden md:block"></div>
      </div>
      <div class="row items-center justify-between">
        <div class="col-2 hidden md:block"></div>
        <div class="col-12 md:col-8">
          <p>{{ .fourth_part | markdownify }}</p>
        </div>
        <div class="col-2 flex justify-end hidden md:block">
          {{ partial "image" (dict "Src" "/images/reusable_pad.svg" "Alt" "" "Loading" "eager") }}
        </div>
      </div>   
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto">
          {{ range .goals }}
            <div class="hidden md:flex">
              {{ partial "image" (dict "Src" "/images/arrow.svg" "Alt" "" "Loading" "eager") }}
              <div class="ml-6 bg-pink rounded-xl py-4 px-8 font-semibold mb-2 grow">
                {{ .content | markdownify }}
              </div>
            </div>
            <div class="flex md:hidden">
              <div class="bg-pink rounded-xl py-4 px-8 font-semibold mb-2">
                {{ .content | markdownify }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      {{ with .footnote }}
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto">
          <p class="italic text-sm">{{ . | markdownify }}</p>
        </div>     
      </div>
      {{ end }}
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto">
          <p class="text-center text-xl font-semibold">{{ .catchphrase }}</p>
        </div>     
      </div>
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto">
          <div class="flex justify-center flex-col md:flex-row items-center">
            <span class="font-secondary text-2xl text-red uppercase">{{ .first_hashtag }}</span>
            <span class="font-secondary text-2xl text-black uppercase md:mx-4 mt-2 md:mt-0">{{ .second_hashtag }}</span>
            <span class="font-secondary text-2xl text-red uppercase mt-2 md:mt-0">{{ .third_hashtag }}</span>
          </div>
        </div>     
      </div>
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto text-center">
          <a class="font-secondary text-white bg-red px-4 py-2 text-xl rounded uppercase" href="{{.link_tribune}}" target="_blank">{{ .button_tribune }}</a>
        </div>     
      </div>
      {{ partial "logos-partners" }}
      <div class="row items-center justify-between mt-8">
        <div class="md:col-8 mx-auto text-center">
          <p class="text-center text-3xl font-semibold mb-8">{{ .join_phrase }}</p>
          <a class="font-secondary text-white bg-red px-4 py-2 text-xl rounded uppercase" href="mailto:justine@regleselementaires.com">{{ .button_contact }}</a>
        </div>     
      </div>
    </section>
  {{ end }}
  <!-- /Campaign -->

  <!-- Study -->
  {{ with .Params.study }}
    <section id="study" class="container mt-12">
      <div class="m-4 md:m-0 bg-pink rounded-4xl py-8 md:py-12 px-4 md:px-20">
        <h2 class="text-center font-primary font-extrabold">{{ .title }}</h2>
        <div class="flex flex-wrap mt-8 justify-center">
          {{ range .numbers }}
            <div class="md:col-4 px-4 py-2 number-container">
                <div class="flex flex-col rounded-xl py-8 px-8 md:px-12 h-full">
                  {{ partial "image" (dict "Src" .img "Alt" "" "Loading" "eager") }}
                  <span class="text-4xl font-bold my-2">{{ .number | markdownify }}</span>
                  <span class="">{{ .text }}</span>
                </div>
            </div>
          {{ end }}
        </div>
        <div class="md:col-8 mx-auto text-center mt-8">
          {{ if eq .lang "fr" }}
          <a class="font-secondary text-white bg-red px-4 py-2 text-xl rounded uppercase" href="https://doccollectes.blob.core.windows.net/statics/Etude_2025_Le_poids_des_regles_en_Europe.pdf" target="_blank">{{ .button }}</a>
          {{ else }}
          <a class="font-secondary text-white bg-red px-4 py-2 text-xl rounded uppercase" href="https://doccollectes.blob.core.windows.net/statics/Survey_2025_The_weight_of_period_poverty_in_Europe.pdf" target="_blank">{{ .button }}</a>
          {{ end }}
        </div>        
      </div>
    </section>

    <!-- YouTube Video -->
    <section class="container mt-12">
    <div class="m-4 md:m-0 md:px-20">
      <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden">
        {{ if eq .lang "fr" }}
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen" loading="eager" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube.com/embed/eJ-w62i9_cQ?autoplay=0&amp;controls=1&amp;end=0&amp;loop=0&amp;mute=0&amp;start=0" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0" title="YouTube video"></iframe>
        {{ else if eq .lang "en" }}
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen" loading="eager" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube.com/embed/Udz_MR1_tZ0?autoplay=0&amp;controls=1&amp;end=0&amp;loop=0&amp;mute=0&amp;start=0" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0" title="YouTube video"></iframe>
        {{ end }}
      </div>
    </div>    
  </section> 
  {{ end }}
  <!-- /Study -->

  

  <!-- About -->
  {{ with .Params.about }}
  <section id="about" class="container">
    <div class="m-4 md:m-0 py-8 md:py-20 md:px-20">
      <h2 class="font-primary font-extrabold">{{ .title }}</h2>
      <div class="flex flex-wrap mt-8 text-black">
        {{ with .first_asso }}
        <div class="md:col-6 flex flex-col md:pr-4">
          <span class="font-bold text-2xl">{{ .title }}</span>
          <span class="mt-4 mb-2">{{ .content | markdownify }}</span>
          {{ with .contact }}
          <a class=" underline font-semibold" href="mailto:{{.email}}">{{ .text }}</a>
          {{ end }}
          {{ with .website }}
          <a class="underline font-semibold" href="{{.link}}" target="_blank">{{ .text }}</a>
          {{ end }}
          {{ with .socials }}
          <div class="flex mt-2">
            {{ with .facebook }}
            <a class="even:px-2" href="{{.}}" target="_blank">
              {{ partial "image" (dict "Src" "images/facebook.svg" "Alt" "Facebook" "Loading" "eager") }}
            </a>
            {{ end }}
            {{ with .instagram }}
            <a class="even:px-2" href="{{.}}" target="_blank">
              {{ partial "image" (dict "Src" "images/instagram.svg" "Alt" "Instagram" "Loading" "eager") }}
            </a>
            {{ end }}
             {{ with .linkedin }}
            <a class="even:px-2" href="{{.}}" target="_blank">
              {{ partial "image" (dict "Src" "images/linkedin.svg" "Alt" "Linkedin" "Loading" "eager") }}
            </a>
            {{ end }}
             {{ with .tiktok }}
            <a class="even:px-2" href="{{.}}" target="_blank">
              {{ partial "image" (dict "Src" "images/tiktok.svg" "Alt" "Tiktok" "Loading" "eager") }}
            </a>
            {{ end }}
          </div>            
          {{ end }}
        </div>
        {{ end }}
        <div class="md:col-6 md:pl-4 mt-4 md:mt-0">
          {{ partial "image" (dict "Src" "images/europe-team.png" "Alt" "" "Loading" "eager") }}
        </div>
        {{ range .partners }}
          <div class="md:col-6 flex flex-col md:odd:pr-4 md:even:pl-4 mt-8 md:mt-12">
            <span class="font-bold text-2xl mb-4">{{ .title }}</span>
            {{ with .content }}
            <span class="mb-2">{{ . | markdownify }}</span>
            {{ end }}
            {{ with .contact }}
            <a class=" underline font-semibold" href="mailto:{{.email}}">{{ .text }}</a>
            {{ end }}
            {{ with .website }}
            <a class="underline font-semibold" href="{{.link}}" target="_blank">{{ .text }}</a>
            {{ end }}
            {{ with .socials }}
            <div class="flex mt-2">
              {{ with .facebook }}
              <a class="even:px-2" href="{{.}}" target="_blank">
                {{ partial "image" (dict "Src" "images/facebook.svg" "Alt" "Facebook" "Loading" "eager") }}
              </a>
              {{ end }}
              {{ with .instagram }}
              <a class="even:px-2" href="{{.}}" target="_blank">
                {{ partial "image" (dict "Src" "images/instagram.svg" "Alt" "Instagram" "Loading" "eager") }}
              </a>
              {{ end }}
              {{ with .linkedin }}
              <a class="even:px-2" href="{{.}}" target="_blank">
                {{ partial "image" (dict "Src" "images/linkedin.svg" "Alt" "Linkedin" "Loading" "eager") }}
              </a>
              {{ end }}
              {{ with .tiktok }}
              <a class="even:px-2" href="{{.}}" target="_blank">
                {{ partial "image" (dict "Src" "images/tiktok.svg" "Alt" "Tiktok" "Loading" "eager") }}
              </a>
              {{ end }}
            </div>            
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    
  </section>
  {{ end }}
  <!-- /About -->

{{ end }}
